aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
config==0.5.0.post0
DateTime==4.3
discord==1.0.1
discord.py==1.5.1
idna==2.10
multidict==4.7.6
pip==20.1.1
pymongo==3.11.2
pytz==2020.4
setuptools==47.1.0
tabulate==0.8.7
typing-extensions==3.7.4.3
utils==1.0.1
yarl==1.5.1
zope.interface==5.2.0
python-3.7.9